.cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 16px;
	justify-items: space-around;
}

@media (max-width: 1024px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 582px) {
	.cards {
		grid-template-columns: repeat(1, 1fr);
	}
}
